@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
h1 {
    font-size: 80px;

}
body {
    font-family: 'Josefin Sans', sans-serif;}
p {
    font-size: 22px;
    color: black;
}